extends layout

block content
    h1= title
    p Welcome to lab 6.

    // Wrapper
    #wrapper

        // CONTACT INFO
        h2 Contact Info
        #contactInfo
            table
                thead
                    tr
                        td Name:
                        td <input id='contactInfoName' readonly></input>
                    tr
                        td Telephone:
                        td <input id='contactInfoTel' readonly></input>
                    tr
                        td Email:
                        td <input id='contactInfoEmail' readonly></input>
                tbody
            br

        // /CONTACT INFO

        // CONTACT LIST
        h2 Contact List
        #contactList
            table
                thead
                    th Name <span > <a id='sort' onclick='sortList()'>sort</a> </span>
                    th Delete?
                tbody
        // /CONTACT LIST

        // ADD OR UPDATE CONTACT
        h2 Add/Update Contact
        #addOrUpdateContact
            fieldset
                input#inputContactName(type='text', placeholder='Name')
                br
                input#inputContactTel(type='text', placeholder='Telephone Number')
                br
                input#inputContactEmail(type='text', placeholder='Email')
                br
                button(type='button',id='btnAddUpdateContact',class='myButton') Add/Update Contact
        // /ADD OR UPDATE CONTACT

    // /WRAPPER